In [21]:
from squad_solver import *
from utils_squads import *
from experiments_runner import run_experiment, repeat_run_experiment

params = {
    "budget": 400000,
    "number_of_defenders": 4,
    "number_of_midfielders": 3,
    "number_of_forwards": 3,
    "min_chemistry": 15,
    "M":11
}

general_components = "Avg_Global, PositionGK, PositionDEF, PositionMID, PositionFOR, Budget"
general_components += ", y, natCount, chemistryNat1, chemistryNat2, chemistryNat3"
formulation_1 = "problem Formulation_1: " + general_components + ", " + "R31, R32, R33A, R33B, R33C, R4;"
formulation_2 = "problem Formulation_2: " + general_components + ", " + "R31, R32, R33A, R33B, R33C, R34A, R34B, R34C, R4;"
formulation_3 = "problem Formulation_3: " + general_components + ", " + "natCountAll, R35, R36, R37, R38, R39, R33A, R33B, R33C, R4;"
formulation_4 = "problem Formulation_4: " + general_components + ", " + "natCountAll, R35, R36, R37, R38, R39, R33A, R33B, R33C, R34A, R34B, R34C, R4;"
formulation_5 = "problem Formulation_5: " + general_components + ", " + "R31, R32, R33A, R33B, R33C, R4B;"

In [22]:
results = {}; squads = {}

formulation_name = "Formulation_1"
results[formulation_name], squads[formulation_name]= repeat_run_experiment(None, "players_1867.csv", params, "Formulation_1", formulation_1, print_results=False, print_summary=False, n_repeats=10)
    
formulation_name = "Formulation_2"
results[formulation_name], squads[formulation_name]= repeat_run_experiment(None, "players_1867.csv", params, "Formulation_2", formulation_2, print_results=False, print_summary=False, n_repeats=10)

formulation_name = "Formulation_3"
results[formulation_name], squads[formulation_name]= repeat_run_experiment(None, "players_1867.csv", params, "Formulation_3", formulation_3, print_results=False, print_summary=False, n_repeats=10)

formulation_name = "Formulation_4"
results[formulation_name], squads[formulation_name]= repeat_run_experiment(None, "players_1867.csv", params, "Formulation_4", formulation_4, print_results=False, print_summary=False, n_repeats=10)

formulation_name = "Formulation_5"
results[formulation_name], squads[formulation_name]= repeat_run_experiment(None, "players_1867.csv", params, "Formulation_5", formulation_5, print_results=False, print_summary=False, n_repeats=10)

In [30]:
def get_solved_elased_time_str(results):
    times = [r["solve_elapsed_time"] for r in results]
    median = np.median(times)
    std = np.std(times)
    return f"{median:.3f} ± ({std:.3f}) seconds"

new_times = {}
for key in results.keys():
    new_times[key] = get_solved_elased_time_str(results[key])


summary_results = pd.DataFrame([results[key][0] for key in results.keys()], index=results.keys()).drop("output", axis=1)
summary_results["solve_elapsed_time"] = summary_results.index.map(new_times)
summary_results

,solve_result,num_vars,num_constraints,gap,simplex_iterations,branching_nodes,solve_elapsed_time,objective
Formulation_1,solved,8580,8401,0.0,12524,1,1.039 ± (0.083) seconds,90.363636
Formulation_2,solved,8580,13438,0.0,14434,37,2.321 ± (0.096) seconds,90.363636
Formulation_3,solved,10259,13438,0.0,23894,39,3.430 ± (0.138) seconds,90.363636
Formulation_4,solved,10259,18475,0.0,29119,1,4.625 ± (0.127) seconds,90.363636
Formulation_5,solved,8580,8401,0.0,12645,1,1.414 ± (0.045) seconds,90.363636

### Try another value of M

In [31]:
results_M = {}; squads_M = {}

params["M"] = 1867
formulation_name = "Formulation_1_M1867"
results_M[formulation_name], squads_M[formulation_name]= repeat_run_experiment(None, "players_1867.csv", params, "Formulation_1", formulation_1, print_results=False, print_summary=False, n_repeats=10)


params["M"] = 10^6
formulation_name = "Formulation_1_M10^6"
results_M[formulation_name], squads_M[formulation_name]= repeat_run_experiment(None, "players_1867.csv", params, "Formulation_1", formulation_1, print_results=False, print_summary=False, n_repeats=10)

In [32]:
new_times = {}
for key in results_M.keys():
    new_times[key] = get_solved_elased_time_str(results_M[key])


summary_results = pd.DataFrame([results_M[key][0] for key in results_M.keys()], index=results_M.keys()).drop("output", axis=1)
summary_results["solve_elapsed_time"] = summary_results.index.map(new_times)
summary_results

,solve_result,num_vars,num_constraints,gap,simplex_iterations,branching_nodes,solve_elapsed_time,objective
Formulation_1_M1867,solved,8580,8401,0.0,16941,1,1.656 ± (0.052) seconds,90.363636
Formulation_1_M10^6,solved,8580,8401,0.0,15102,1,1.156 ± (0.030) seconds,90.363636

In [34]:
new_times

{'Formulation_1_M1867': '1.656 ± (0.052) seconds',
 'Formulation_1_M10^6': '1.156 ± (0.030) seconds'}