In [1]:
from squad_solver import *

squad_solver = SquadSolver()

params = {
    "budget": 1000000,
    "number_of_defenders": 4,
    "number_of_midfielders": 3,
    "number_of_forwards": 3,
    "min_chemistry": 4,
}

data = squad_solver.read_csv_data("players.csv")
squad_solver.set_ampl_data(params)
squad_solver.solve(print_results=False, print_summary=True)
squad = squad_solver.get_squad()

Solver result:  solved
Number of Variables: 912
Number of Constraints: 1222
Gap: None
Number of Simplex Iterations: 452
Number of Branching Nodes: 1

,name,generic_position,position,price,global_score,nation
0,Ann-Katrin Berger,GK,GK,187000,94,21
1,Selma Bacha,DEF,LB,75500,93,18
2,Iñigo Martínez Berridi,DEF,CB,127000,92,45
3,Harry Maguire,DEF,CB,119000,92,14
4,Antônia da Costa Silva,DEF,RB,38000,91,54
5,Crystal Dunn,MID,CM,59500,92,95
6,Jari Litmanen,MID,CAM,57000,92,17
7,Ella Toone,MID,CAM,55500,92,14
8,Celia Šašic,FOR,ST,76000,93,21
9,Chloe Kelly,FOR,RW,49000,92,14
10,Marcus Thuram,FOR,ST,55000,92,18

Price: 898500€, Mean score: 92.27, Nationality chemistry:7